﻿@model Projeto_PV.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<h4>Movie Details</h4>
<div class="d-inline-block">
    
    <hr />
    <dl class="row pt-2">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPhoto)
        </dt>
        <dd class="col-sm-10">
            <img id="cvrPhoto" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.CoverPhoto))">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.MovieId" class="btn btn-primary" style="margin-right:5px;">Edit</a>
    }
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
