﻿@model Projeto_PV.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="col-lg-12">
        <h4>Edit Movie</h4>
        <hr />
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-7">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MovieId"/>
                    <div class="form-group row">
                        <label asp-for="Title" class="col-lg-4 col-form-label">Title:</label>
                        <div class="col-lg-8">
                            <input asp-for="Title" class="position-relative custom-file-label form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-lg-4 col-form-label">Description:</label>
                        <div class="col-lg-8">
                            <textarea asp-for="Description" class="position-relative custom-file-label form-control" style="height: 245px;"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Length" class="col-lg-4 col-form-label">Length:</label>
                        <div class="col-lg-8">
                            <input asp-for="Length" class="position-relative custom-file-label form-control" />
                            <span asp-validation-for="Length" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Director" class="col-lg-4 col-form-label">Director:</label>
                        <div class="col-lg-8">
                            <input asp-for="Director" class="position-relative custom-file-label form-control" />
                            <span asp-validation-for="Director" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 pl-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="CoverPhoto" style="width: 100%;"></label>*@
                        @if (Model.CoverPhoto != null)
                        {
                            <img id="cvrPhoto" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.CoverPhoto))">
                        }
                        else
                        {
                            <img id="cvrPhoto" style="width:350px;height:350px; object-fit:cover" src="~/images/image-default.jpg">
                        }
                        <input type="file"
                                accept=".png,.jpg,.jpeg,.gif,.tif"
                                asp-for="CoverPhoto"
                                class="form-control"
                                style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                onchange="document.getElementById('cvrPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-right:5px;" />
                    <a asp-action="Index" class="btn btn-light">Back to List</a>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script type="text/javascript">

                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
        </script>*@
}
