﻿@model Projeto_PV.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.CoverPhoto)
        </dt>
        <dd class="col-sm-10">
            <img id="cvrPhoto" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Movie.CoverPhoto))">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dislike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("User")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>
    </dl>       
</div>
<div class="row">

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ReviewId" class="btn btn-primary" style="margin-right:8px;">Edit</a>
    }
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>


