﻿@model IEnumerable<Projeto_PV.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/lib/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
</head>

<ul class="responsive-table">
    <h1>Reviews</h1>
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <p>
            <a asp-action="Create" asp-controller="Reviews" class="btn btn-primary" style="margin-right:5px;">Create Review</a>
            <a asp-action="Index" asp-controller="Series" class="btn btn-light">Back to List</a>
        </p>
    }
    <li class="table-header">
        <div class="col col-1" style="color:white; font-weight: bold;">@Html.DisplayNameFor(model => model.Movie)</div>
        <div class="col col-2">@Html.ActionLink("Score", "ReviewsByMovie", new { sortBy = ViewBag.sortScoreParameter, movie = @TempData["fullpath"] }, new { @class = "my-class" })</div>
        <div class="col col-3">@Html.ActionLink("Likes", "ReviewsByMovie", new { sortBy = ViewBag.sortLikesParameter, movie = @TempData["fullpath"] }, new { @class = "my-class" })</div>
        <div class="col col-4">@Html.ActionLink("Dislike", "ReviewsByMovie", new { sortBy = ViewBag.sortDislikeParameter, movie = @TempData["fullpath"] }, new { @class = "my-class" })</div>
        <div class="col col-5" style="color:white; font-weight: bold;">@Html.DisplayNameFor(model => model.User)</div>
        <div class="col col-6"></div>
    </li>
    @foreach (var item in Model)
    {
        <li class="table-row">
            <div class="col col-1">@Html.DisplayFor(modelItem => item.Movie.Title)</div>
            <div class="col col-2">@Html.DisplayFor(modelItem => item.Score)/10</div>
            <div class="col col-3">@Html.DisplayFor(modelItem => item.Likes)</div>
            <div class="col col-4">@Html.DisplayFor(modelItem => item.Dislike)</div>
            <div class="col col-5">@Html.DisplayFor(modelItem => item.User.Nickname)</div>
            <div class="col col-6">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.ReviewId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId" class="fas fa-pencil-alt" style="text-decoration:none" title="Edit" aria-label="Edit"></a>
                    <a asp-action="Delete" asp-route-id="@item.ReviewId" class="fas fa-trash" style="text-decoration:none" title="Delete" aria-label="Delete"></a>
                    <a asp-action="Incremment" asp-route-id="@item.ReviewId">Incremment</a>
                }
                else if (User.IsInRole("User"))
                {
                    <a asp-action="Details" asp-route-id="@item.ReviewId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-action="Incremment" asp-route-id="@item.ReviewId">Incremment</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ReviewId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-action="Incremment" asp-route-id="@item.ReviewId">Incremment</a>
                }
            </div>
        </li>
    }
</ul>

<style>

    .my-class {
        color: white;
        font-weight: bold;
    }

        .my-class:active {
            color: white;
        }

        .my-class:link {
            color: white;
        }

        .my-class:visited {
            color: white;
        }

    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #1569C7;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

    .col-1 {
        flex-basis: 20%;
    }

    .col-2 {
        flex-basis: 10%;
    }

    .col-3 {
        flex-basis: 10%;
    }

    .col-4 {
        flex-basis: 10%;
    }

    .col-5 {
        flex-basis: 10%;
    }

    .col-6 {
        flex-basis: 10%;
    }

    .col-7 {
        flex-basis: 20%;
    }
</style>

