﻿@model Projeto_PV.Models.Serie

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete "@Model.Title"?</h3>
<div>
    <hr />
    <h4>Series Details:</h4>
    <div class="d-inline-block">
        <dl class="row pt-2">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoverPhoto)
            </dt>
            <dd class="col-sm-10">
                <img id="cvrPhoto" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.CoverPhoto))">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Episodes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Episodes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seasons)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Seasons)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="SerieId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-right:5px;" />
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
