﻿@model IEnumerable<Projeto_PV.Models.Serie>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/lib/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
</head>

<ul class="responsive-table">
    <h1>Series</h1>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New Series</a>
        </p>
    }
    <li class="table-header">
        <div class="col col-1">@Html.ActionLink("Title", "Index", new { sortBy = ViewBag.SortTitleParameter }, new { @class = "my-class" })</div>
        <div class="col col-2">@Html.ActionLink("Episodes", "Index", new { sortBy = ViewBag.SortEpisodesParameter }, new { @class = "my-class" })</div>
        <div class="col col-3">@Html.ActionLink("Seasons", "Index", new { sortBy = ViewBag.sortSeasonsParameter }, new { @class = "my-class" })</div>
        <div class="col col-4">@Html.ActionLink("Director", "Index", new { sortBy = ViewBag.sortDirectorParameter }, new { @class = "my-class" })</div>
        <div class="col col-5" style="color:white; font-weight: bold;">@Html.DisplayNameFor(model => model.CoverPhoto)</div>
        <div class="col col-6"></div>
    </li>
    @foreach (var item in Model)
    {
        <li class="table-row">
            <div class="col col-1">@Html.DisplayFor(modelItem => item.Title)</div>
            <div class="col col-2">@Html.DisplayFor(modelItem => item.Episodes)</div>
            <div class="col col-3">@Html.DisplayFor(modelItem => item.Seasons)</div>
            <div class="col col-4">@Html.DisplayFor(modelItem => item.Director)</div>
            <div class="col col-5"><img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(item.CoverPhoto))"></div>
            <div class="col col-6">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.SerieId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-action="Edit" asp-route-id="@item.SerieId" class="fas fa-pencil-alt" style="text-decoration:none" title="Edit" aria-label="Edit"></a>
                    <a asp-controller="ReviewsSeries" asp-action="ReviewsBySerie" asp-route-serie="@item.Title" class="fas fa-comments" style="text-decoration:none" title="Reviews" aria-label="Reviews"></a>
                    <a asp-action="Delete" asp-route-id="@item.SerieId" class="fas fa-trash" style="text-decoration:none" title="Delete" aria-label="Delete"></a>
                }
                else if (User.IsInRole("User"))
                {
                    <a asp-action="Details" asp-route-id="@item.SerieId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-controller="ReviewsSeries" asp-action="ReviewsBySerie" asp-route-serie="@item.Title" class="fas fa-comments" style="text-decoration:none" title="Reviews" aria-label="Reviews"></a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.SerieId" class="fas fa-info" style="text-decoration:none" title="Details" aria-label="Details"></a>
                    <a asp-controller="ReviewsSeries" asp-action="ReviewsBySerie" asp-route-serie="@item.Title" class="fas fa-comments" style="text-decoration:none" title="Reviews" aria-label="Reviews"></a>
                }
            </div>
        </li>
    }
</ul>

<style>

    .my-class {
        color: white;
        font-weight: bold;
    }
    .my-class:active {
        color: white;
    }

    .my-class:link {
        color: white;
    }

    .my-class:visited {
        color: white;
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #1569C7;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

    .col-1 {
        flex-basis: 20%;
    }

    .col-2 {
        flex-basis: 10%;
    }

    .col-3 {
        flex-basis: 10%;
    }

    .col-4 {
        flex-basis: 10%;
    }

    .col-5 {
        flex-basis: 10%;
    }

    .col-6 {
        flex-basis: 10%;
    }
</style>

