﻿@{ 
    NotificationsController nc = new NotificationsController(); 
}

@if (User.Identity.IsAuthenticated)
{
    <div class="notifications" id="submenu-notifications" >
        <ul>
            @foreach (var not in nc.GetNotifications(User))
            {
                <a asp-area="" asp-controller="@not.ControllerName" asp-action="@not.ActionName"><li> @not.Description  <p>@not.NotificationDate.</p> </li></a>
               }
        </ul>
    </div>
}