﻿@{ Statistics st = new Statistics(); }

@{
    ViewData["Title"] = "Index";
}

<h1>Statistics</h1>
<br />
<div class="row">
    <div class="column">
        <canvas id="watched"></canvas>
        <div style="margin-left:45px; padding: 10px;">
            <h5 style="color:#6495ED">Number of Movies: <b>@st.GetNumberOfFilms()</b></h5>
            <h5 style="color:#228B22">Number of Series: <b>@st.GetNumberOfSeries()</b></h5>
        </div>
    </div>
    <div class="column">
        <canvas id="reviews"></canvas>
        <div style="margin: auto; padding: 10px;">
            <h5 style="color:#6495ED">Number of Movie Reviews: <b>@st.GetNumberOfReviewsOfMovies()</b></h5>
            <h5 style="color:#228B22">Number of Series Reviews: <b>@st.GetNumberOfReviewsOfSeries()</b></h5>
        </div>
    </div>
</div>

<br />
<h5>Number of registered users: <b style="color:#ff0000">@st.GetNumberOfUsers()</b></h5>

@{
    <br />
    var sta = st.GetNumberOfMostReviewInMovie();
    <h5 >Movie with highest number of reviews: <b >@sta[1]</b> with <b style="color:#6495ED">@sta[0]</b> reviews</h5>
}

@{
    <br />
    var sta2 = st.GetNumberOfMostReviewInSerie();
    <h5>Serie with highest number of reviews: <b>@sta2[1]</b> with <b style="color:#228B22">@sta2[0]</b> reviews</h5>
}




<script>
    var ctx = document.getElementById('watched');
    var watched = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Movies', 'Series'],
        datasets: [{
            label: '# of Votes',
            data: [@st.GetNumberOfFilms(), @st.GetNumberOfSeries()],
            backgroundColor: [
                '#6495ED',
                '#228B22',
            ],
            borderColor: [
                '#6495ED',
                '#228B22',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true
    }
    });

    var ctx2 = document.getElementById('reviews');
    var watched = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: ['Movie Reviews', 'Series Reviews'],
        datasets: [{
            label: '# of Votes',
            data: [@st.GetNumberOfReviewsOfMovies(), @st.GetNumberOfReviewsOfSeries()],
            backgroundColor: [
                '#6495ED',
                '#228B22',
            ],
            borderColor: [
                '#6495ED',
                '#228B22',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true
    }
});
</script>

<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

