﻿@model IEnumerable<Projeto_PV.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-weight: bold;">NEWS</h1>

@if (User.IsInRole("Admin"))
{
    <hr>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<br>
@foreach (var item in Model.Reverse())
{
    <h2 style="font-weight: bold;">
        @Html.DisplayFor(modelItem => item.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => item.Description)
    </p>
    <p>
        @Html.DisplayFor(model => item.PostTime) by @Html.DisplayFor(model => item.user.Nickname)
    </p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@item.NewsId" class="btn btn-primary" style="margin-right:5px;">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.NewsId" class="btn btn-danger">Delete</a>
    }
    <hr>
}

