﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#notifications {
    position: relative;
    margin-right: 1.9vw;
}

.notifications-count {
    position: fixed;
    z-index: 800;
    background-color: red;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50vw;
    font-size: 10px;
    text-align: center;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
}

.notifications {
    display: none;
    position: fixed;
    left: 79%;
    top: 10.5%;
    width: 18%;
    z-index: 700;
}

.notifications > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}

.notifications li {
    text-align: center;
    margin-right: 5%;
    list-style: none;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-bottom: 1px solid lightgray;
    min-height: 4vh;
    padding-top: 3%;
}

.notifications li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.notifications li:first-child {
    margin-top: 0;
}

.notifications a, .notifications a:visited, .notifications a:link, .notifications a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

.option-button {
    height: 1.3vmax;
    width: 1.3vmax;
    user-select: none;
}

.option-button:hover {
    cursor: pointer;
}

#options {
    margin-right: 1vw;
}
