﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed!";
    ViewData["Body"] = "Your email has been confirmed you can now login";
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Body"]</h3>
<br />
<p>
    <a asp-page="./Login">Login</a>
</p>