﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link href="~/lib/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
</head>


<div class="container h-100 text-center">
    <div class="d-flex justify-content-center form_container">
        <form id="account" method="post" style="width: 100%; max-width: 350px">
            <!--<h4>Use a local account to log in.</h4>-->
            
            <div class="form-group">

                <img src="~/images/ReviewBlog.png" alt="">
                <hr />
                <h1 class="text-center h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>

                <div asp-validation-summary="All" class="text-danger"></div>

                @*<label asp-for="Input.Email"></label>*@
                @*<input asp-for="Input.Email" class="form-control" />*@
                @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                <div class="row">
                    <div class="col-md-1">
                        <i class="fas fa-envelope" style="padding-top: .75rem"></i>
                    </div>
                    <div class="col-md-11">
                        <label for="inputEmail" class="invisible" style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important;" asp-for="Input.Email">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" placeholder="Email address" required="" autofocus="" asp-for="Input.Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fas fa-key" style="padding-top: .75rem"></i>
                    </div>
                    <div class="col-md-11">
                        <label for="inputPassword" class="invisible" style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; " asp-for="Input.Password">Password</label>
                        <input type="password" id="inputPassword" class="form-control" style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;" placeholder="Password" required="" asp-for="Input.Password">
                    </div>
                </div>
                
                

                <div class="custom-checkbox mb-3">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>

            </div>
            @*<div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>
    </div>

    <!--<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}