﻿ @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/lib/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
</head>

<div class="container h-100 text-center">
    <div class="d-flex justify-content-center form_container">

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" style="width: 100%; max-width: 350px">
       
            
            <div class="form-group">

                <img src="~/images/ReviewBlog.png" alt="">
                <hr />
                <h1 class="text-center h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-1">
                        <i class="fas fa-user" style="padding-top: .75rem"></i>
                    </div>
                    <div class="col-md-11">
                        @*<label asp-for="Input.Nickname"></label>*@
                        <input asp-for="Input.Nickname" placeholder="Username" class="form-control" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" />
                        @*<span asp-validation-for="Input.Nickname" class="text-danger" style="margin-top: 10px"></span>*@
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <a class="fas fa-envelope" style="padding-top: .75rem"></a>
                    </div>
                    <div class="col-md-11">
                        @*<label asp-for="Input.Email"></label>*@
                        <input asp-for="Input.Email" placeholder="Email address" class="form-control" style="margin-bottom: -1px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" />
                        @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-1">
                        <i class="fas fa-key" style="padding-top: .75rem"></i>
                    </div>
                    <div class="col-md-11">
                        @*<label asp-for="Input.Password"></label>*@
                        <input asp-for="Input.Password" placeholder="Password" class="form-control" style="margin-bottom: -1px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" />
                        @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-1">
                        <i class="fas fa-key" style="padding-top: .75rem"></i>
                    </div>
                    <div class="col-md-11">
                        @*<label asp-for="Input.ConfirmPassword"></label>*@
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control" style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;" />
                        @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                    </div>
                </div>             

            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Create new account</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
